@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fe2c55;
    // Default layout
    --default-layout-header-height: 74px;
    --default-layout-width: 1150px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    top: 5rem;
    left: 310px; 
    width: 1328px;
}


.container {
    width: var(--default-layout-width);
    display: flex;
}

.content {
    flex: 1;
}

// html {
//     font-size: 62.5%;
// }

// body {
//     font-family: 'Roboto', sans-serif;
//     font-size: 1.6rem;
//     line-height: 1.5;
//     text-rendering: optimizespeed;
// }